/* styles.css */
.language-switcher {
  display: flex;
}

.language-switcher .language-icon {
  cursor: pointer;
  /* margin-right: 10px; */
}

/* .language-switcher .active {
    border: 2px solid #000;
  } */

@media (max-width: 980px) {
  .language-switcher {
    display: none; /* Hide the icons */
  }

  .language-switcher-dropdown {
    display: block; /* Show the custom dropdown */
    position: relative;
    width: 50px;
  }

  .language-switcher-dropdown select {
    display: none; /* Hide the default select element */
  }

  .dropdown-btn {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 0.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 113%;
    z-index: 1;
    border-radius: 5px;
    /* left: 0.4rem; */
  }

  .dropdown-content div {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0.1rem;
  }
  .dropdown-content div:first-child {
    padding-top: 0.9rem;
  }

  .dropdown-content div:hover {
    background-color: rgba(0, 0, 0, 0.2);
    width: 95%;
  }

  .language-switcher-dropdown.open .dropdown-content {
    display: block;
  }
}
