/* Ensure body and root elements occupy full viewport */
html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

/* Center the content and occupy full height */
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.homepage-title {
  position: absolute;
  top: 15%;
  left: 50%;
}
.h1 {
  mix-blend-mode: overlay;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 1;
  width: 90%;
  height: 88%;
  background-color: rgba(255, 255, 255, 0.055);
  border-radius: 5rem;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.237);
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
  width: 100%;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.color-wrapper div {
  transition: background-color 0.5s ease;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5rem 2rem;
  border-radius: 5rem 3rem;
  transition: transform 0.3s, background 0.3s;
}

.content-section:first-child {
  border-radius: 5rem 5rem 3rem 3rem;
}

.content-section:hover {
  transform: translateY(0);
  background: rgba(255, 255, 255, 0.2);
}

h2 {
  font-size: 1.2rem;
  color: #ffffff;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;

  margin: 0 2rem 1rem 1rem;
}

.text-container {
  display: block;
  gap: 1rem;
  text-align: center;
  width: 100%;
}
.contact-item {
  margin-top: 1rem !important;
}

.text-container.home {
  align-content: center;
  width: 50%;
  height: 100%;
  margin-right: 5rem;
}

.text-container.playground {
  display: flex;
  height: 100%;
  align-content: center;
  justify-content: flex-end;
  padding-right: 10rem;
}

.text-container a {
  text-decoration: none;
  color: white;
}

.text-container div {
  margin-top: 5px;
}
.playground-wrapper {
  width: 100%;
  overflow: scroll;
  border-radius: 1rem 1rem 0 0;
  height: 100%;
  background-color: #ffffff1b;
}
.color-wrapper {
  display: flex;
  gap: 1rem;
  padding: 0 4rem;
  width: max-content;
  justify-self: end;
  border-radius: 1rem;
  transition: transform 0.3s, background 0.3s;
}

.color-wrapper:hover {
  transform: translateY(0);
  background: rgba(255, 255, 255, 0.2);
}

.codeline {
  position: fixed;
  top: 95.5%;
  left: 86%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 2rem;
  mix-blend-mode: overlay;
  pointer-events: auto; /* Make the element clickable */
  z-index: 10; /* Make sure it's higher than other elements */
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer; /* Add cursor pointer to indicate it's clickable */
  padding: 10px; /* Increase touchable area */
}
.custom-button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
}

.custom-button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Lighter on hover */
}

.custom-button.active {
  background-color: rgba(255, 255, 255, 0.1); /* Active state color */
}

@media (max-width: 800px) {
  html {
    overflow: hidden;
  }
  .color-wrapper {
    padding: 0 0.8rem;
    gap: 0.8rem;
    border-radius: 0.5rem;
  }
  .content-wrapper {
    overflow: scroll;
    width: 70%;
    margin-right: 0;
  }

  .text-container.home {
    width: 50%;
    margin-right: 1rem;
  }
  .text-container.playground {
    padding-right: 1rem;
  }
}

@media (max-width: 500px) {
  .content-section {
    padding: 0.5rem 1rem;
  }
  .color-wrapper div {
    width: 20px !important;
    height: 20px !important;
  }
  .color-wrapper {
    padding: 0 0.2rem;
    gap: 0.4rem;
  }
  .text-container.playground div {
    margin-top: 5px;
  }
  .text-containerdiv {
    margin-top: 1rem;
  }

  h2 {
    text-align: center;
  }
  p {
    margin: 0 1.5rem 1rem 1rem;
  }
  .custom-button {
    padding: 10px 15px;
  }
  .codeline {
    top: 95%;
    left: 80%;
  }
  .content-wrapper {
    overflow: scroll;
    width: 60%;
    margin-right: 0rem;
  }

  .text-container.home {
    width: 65%;
    margin-right: 0.2rem;
  }
  .text-container.playground {
    padding-right: 1.5rem;
  }
}
